<div class="container py-4 py-md-6">
    <p class="h3">Crear Producto</p>
    <form #f="ngForm" [formGroup]="formProduct" (submit)="onSubmit()" novalidate class="row">
        <mat-form-field appearance="outline" class="col-12">
            <mat-label>Título</mat-label>
            <input matInput formControlName="titulo">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
            <mat-label>Descripción</mat-label>
            <textarea matInput rows="5" formControlName="descripcion"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
            <mat-label>Precio</mat-label>
            <input matInput type="number" formControlName="precio">
        </mat-form-field>
        <div class="col-12">
            <input type="file" formControlName="image" (change)="detectFiles($event)">
        </div>
        <div class="col-12 text-right">
            <button class="btn btn-primary px-3">
                <mat-icon class="align-middle" *ngIf="!deshabilitado">add</mat-icon>
                <mat-spinner *ngIf="deshabilitado" [diameter]="24" class="float-left mr-2"></mat-spinner>
                Crear Producto
              </button>
        </div>
    </form>
</div>
